<h1>Panadería con Websockets</h1>

<div class="container" id="productList">
  {{#each products}}
    <div class="card-product">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <p>${{price}}</p>
      <p>{{stock}}</p>
    </div>
  {{/each}}
<div/>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
