<h1>Products Manager</h1>
<h2>Create Product</h2>
<form class="form" id="createProductForm" action="/" method="POST">
  <input class="input" type="text" name="title" placeholder="Title" required />
  <input class="input" type="text" name="description" placeholder="Description" required />
  <input class="input" type="text" name="category" placeholder="Category" required />
  <input class="input" type="number" name="price" placeholder="Price" required />
  <input class="input" type="number" name="stock" placeholder="Stock" required />
  <button class="button" type="submit">Add Product</button>
</form>

<div id="productList" class="container">
<div/>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>