<h1>Administrador de productos</h1>
<h2>Crear Producto</h2>
<form class="form" id="createProductForm">
  <label class="Label">Nombre</label>
  <input class="input" type="text" name="title" placeholder="Title" required />
  <label class="Label">Descripción</label>
  <input class="input" type="text" name="description" placeholder="Description" required />
  <label class="Label">Categoría</label>
  <input class="input" type="text" name="category" placeholder="Category" required />
  <label class="Label">Precio</label>
  <input class="input" type="number" name="price" placeholder="Price" required />
  <label class="Label">Stock</label>
  <input class="input" type="number" name="stock" placeholder="Stock" required />
  <button class="button" type="submit">Crear Producto</button>
</form>

<div id="productList" class="container">
<div/>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>